{% load i18n %}
<!-- ko foreach: { data: [$data], as: 'self' } -->

<!-- ko if: state === 'editor-tree' -->
{% block editor-tree %}
{% include "views/components/cards/base/editor-tree.htm" %}
{% endblock editor-tree %}
<!-- /ko -->

<!-- ko if: state === 'designer-tree' -->
{% block designer-tree %}
{% include "views/components/cards/base/designer-tree.htm" %}
{% endblock designer-tree %}
<!-- /ko -->


<!-- ko if: state === 'permissions-tree' -->
{% block permissions-tree %}
{% include "views/components/cards/base/permissions-tree.htm" %}
{% endblock permissions-tree %}
<!-- /ko -->


<!-- ko if: state === 'form' -->
{% block form %}
{% include "views/components/cards/base/form.htm" %}
{% endblock form %}
<!-- /ko -->

<!-- ko if: state === 'report' -->
{% block report %}
{% include "views/components/cards/base/report.htm" %}
{% endblock report %}
<!-- /ko -->

<!-- ko if: state === 'config' -->
{% block config %}
{% endblock config %}
<!-- /ko -->

<!-- /ko -->